@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: 'Tajawal';
  src: url('./assets/fonts/Tajawal-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Tajawal';
  src: url('./assets/fonts/Tajawal-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Tajawal';
  src: url('./assets/fonts/Tajawal-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tajawal';
  src: url('./assets/fonts/Tajawal-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Tajawal';
  src: url('./assets/fonts/Tajawal-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Tajawal';
  src: url('./assets/fonts/Tajawal-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Tajawal';
  src: url('./assets/fonts/Tajawal-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: #f3f3f3;
  --foreground: #653171;
  --card: #ffffff;
  --card-foreground: #653171;
  --popover: #ffffff;
  --popover-foreground: #653171;
  --primary: #653171;
  --primary-foreground: #ffffff;
  --secondary: #b0d273;
  --secondary-foreground: #653171;
  --muted: #39b1da;
  --muted-foreground: #0069b6;
  --accent: #39b1da;
  --accent-foreground: #653171;
  --destructive: #b0d273;
  --border: #39b1da;
  --input: #39b1da;
  --ring: #0069b6;
  --chart-1: #b0d273;
  --chart-2: #39b1da;
  --chart-3: #0069b6;
  --chart-4: #653171;
  --chart-5: #f3f3f3;
  --sidebar: #ffffff;
  --sidebar-foreground: #653171;
  --sidebar-primary: #653171;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #b0d273;
  --sidebar-accent-foreground: #653171;
  --sidebar-border: #39b1da;
  --sidebar-ring: #0069b6;
}

.dark {
  --background: #0d0d0d;
  --foreground: #fffefe;
  --card: #141414;
  --card-foreground: #fffefe;
  --popover: #141414;
  --popover-foreground: #fffefe;
  --primary: #2b0051;
  --primary-foreground: #fffefe;
  --secondary: #0d492a;
  --secondary-foreground: #fffefe;
  --muted: #262727;
  --muted-foreground: #fffefe;
  --accent: #0d492a;
  --accent-foreground: #fffefe;
  --destructive: #0d492a;
  --border: #262727;
  --input: #262727;
  --ring: #fffefe;
  --chart-1: #0d492a;
  --chart-2: #2b0051;
  --chart-3: #fffefe;
  --chart-4: #141414;
  --chart-5: #0d0d0d;
  --sidebar: #141414;
  --sidebar-foreground: #fffefe;
  --sidebar-primary: #2b0051;
  --sidebar-primary-foreground: #fffefe;
  --sidebar-accent: #0d492a;
  --sidebar-accent-foreground: #fffefe;
  --sidebar-border: #262727;
  --sidebar-ring: #fffefe;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Tajawal', sans-serif;
  }
}
